<!DOCTYPE html>
<html ng-app="">
    <script src="js/angular.min.js"></script>
<body>

<p>Input something in the input box:</p>
<p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
<h1>Hello {{name}}</h1>


	<div class="container" ng-init="names=['Jonard','Jayzel','Michelle','Juvs']">
	
		<h3>Looping using ng-repeat</h3>
		<ul>
			<li ng-repeat="name in names">{{name}}</li>
		</ul>
	</div>
	
	<div class="container" ng-controller="SimpleController">
		<h3> Adding a Simple Controller</h3>
		<ul>
			<li ng-repeat="cust in customers">
				{{cust.name}} - {{cust.city}}
			</li>
		</ul>
	</div>

</body>
</html>